@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat-v30-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat-v30-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat-v30-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
